<section class="block w-full h-full justify-center bg-slate-400 p-8">
  <h2 class="text-4xl content-center text-amber- p-4 text-center">Agregar un
    producto</h2>
  <form class="flex flex-col bg-slate-300 px-8 my-4 shadow-lg shadow-black">
    <input
      type="text"
      name="title"
      placeholder="Escribe el titulo"
      class="inputCss"
    />
    <input
      type="text"
      name="url"
      placeholder="Escribe la URL"
      class="inputCss"
    />
    <input
      type="text"
      name="price"
      placeholder="Escribe el precio"
      class="inputCss"
    />
    <button class="btn">Add Product</button>
  </form>
</section>