<footer class="flex bottom-0 justify-center align-middle bg-black border-amber-100 border-spacing-2 border-solid border-4 shadow-md shadow-amber-300  w-full ">
    <h1 class=" text-amber-300 text-2xl text-center p-10">By Adrian Daniel Abadin</h1>
</footer>