<header class="bg-black border-amber-100 border-spacing-2 border-solid border-4 shadow-md shadow-amber-300 flex w-full">
    <h1 class=" text-amber-300 text-4xl text-center p-10">Desafio CoderHouse SQL 1</h1>
</header>